
<form (ngSubmit)="onSubmit(form)" #form="ngForm" style="width:500px;margin-left: 30px;">
  <div class="form-group row">
    <label for="nombre" class="form-label mt-4">Nombre:</label>
    <input type="text" class="form-control" id="name" name="name" ngModel required>
  </div>
  <div class="form-group row">
    <label for="precio" class="form-label mt-4">Precio:</label>
    <input type="number" id="price" name="price"  class="form-control"  ngModel required>
  </div>
  <div class="form-group row">
    <label for="image" class="form-label mt-4">Imagen:</label>
    <input type="file" id="image" name="image"  class="form-control"  (change)="onFileChange($event)" accept="image/*">
  </div>
  <div class="form-group row">
    <label for="descr" class="form-label mt-4">Descripción:</label>
    <textarea id="descr" name="descr"  class="form-control"  ngModel required></textarea>
  </div>
  <div class="form-group row">
    <label for="season" class="form-label mt-4">Season:</label>
    <input type="text" id="season" name="season"  class="form-control"  ngModel required>
  </div>


  <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Crear Producto</button>
</form>